#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card {
  padding: 2em;
}

#start-button {
  width: 7rem;
}
