#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
  gap: 5rem;
}

.subtitle {
  font-size: 0.7rem;
}

.note-container {
  display: flex;
  flex-direction: column;
}

.key-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.4rem;
}

.footer {
  margin-top: 4rem;
  font-size: 0.7rem;
}

#note {
  font-size: 6rem;
}

#solfege {
  font-size: 4.5rem;
}

#pitch {
  font-style: italic;
  font-size: 0.9rem;
}

#start-button {
  width: 9rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 400px) {
  .button-container {
    font-size: 1.2rem;
  }

  #note {
    font-size: 5rem;
  }

  #solfege {
    font-size: 4rem;
  }

  #start-button {
    font-size: 1.3rem;
  }
}
